---
title: Layout pages
categories: Admin templates
---

<div class="remove-production">

<h2 class="title-hero">
    Layout pages
</h2>
<p class="title-lead">Use the markups below to create breadcrumbs bars.</p>

<div class="divider"></div>


<div class="row">

<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Blank page
        </div>

        <div class="text-center">

            <a href="../production/page-blank.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">
                    <div id="page-content">

                        <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page without the page wrapper element.</h1>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}

    </div>
</div>
<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Page with container
        </div>

        <div class="text-center">

            <a href="../production/page-container.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">
                    <div id="page-content">

                        <div class="container">
                            <div class="page-box">
                                <h3 class="page-title">
                                    Page with container
                                    <small>
                                        This page has the content wrapped in a responsive container.
                                    </small>
                                </h3>

                                <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>

                            </div>
                        </div>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}

    </div>
</div>
<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Page with single wrapper
        </div>

        <div class="text-center">

            <a href="../production/page-single-wrapper.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">
                    <div id="page-content">
                        <div class="page-box">
                            <h3 class="page-title">
                                {{title }}
                                <small>
                                    View all kinds of {{title }} examples below.
                                </small>
                            </h3>

                            <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>

                        </div>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}

    </div>
</div>
<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Page with multiple wrappers
        </div>

        <div class="text-center">

            <a href="../production/page-multiple-wrappers.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">
                    <div id="page-content">
                        <div class="page-box">
                            <h3 class="page-title">
                                {{title }}
                                <small>
                                    View all kinds of {{title }} examples below.
                                </small>
                            </h3>
                            <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                        </div>

                        <div class="row mrg20T">
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                        </div>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}

    </div>
</div>
<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Page with custom scrollbar
        </div>

        <div class="text-center">

            <a href="../production/page-scrollbar.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">

                    <script type="text/javascript">

                        jQuery(document).ready(function($) {
                            $("body").niceScroll({
                                horizrailenabled: false,
                                cursorborder: "0",
                                cursorwidth: "18px",
                                cursorcolor: "#363636",
                                zindex: "5555",
                                autohidemode: true,
                                bouncescroll: true,
                                mousescrollstep: '40',
                                scrollspeed: '100',
                                background: "#cdcdcd",
                                cursoropacitymax: "0.6",
                                cursorborderradius: "55px"
                            });
                        });

                    </script>

                    <div id="page-content">
                        <div class="page-box">
                            <h3 class="page-title">
                                {{title }}
                                <small>
                                    View all kinds of {{title }} examples below.
                                </small>
                            </h3>
                            <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                        </div>

                        <div class="row mrg20T">
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                        </div>

                        <div class="row mrg20T">
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="page-box">
                                    <h3 class="page-title">
                                        Blank page
                                        <small>
                                            This page has no content and can be your starting canvas
                                        </small>
                                    </h3>
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                                </div>
                            </div>
                        </div>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}

    </div>
</div>
<div class="col-md-6">
    <div class="content-box mrg20B">

        <div class="content-box-header bg-white mrg20B">
            Page with tabs navigation
        </div>

        <div class="text-center">

            <a href="../production/page-tabs.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
            <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

        </div>
        <div class="divider mrg20T mrg20B"></div>
        <div class="example-html">

            <pre>
                <code class="language-markup">
                    <div id="page-content">

                        <div class="page-box">
                            <h3 class="page-title">
                                Page with tabs
                                <small>
                                    This page has a top tabs navigation.
                                </small>
                            </h3>


                            <div class="tabs tabs-navigation">
                                <ul>
                                    <li>
                                        <a href="#normal-tabs-1" title="Tab 1">
                                            Dashboard panels
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#normal-tabs-2" title="Tab 2">
                                            Content boxes
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#normal-tabs-3" title="Tab 3">
                                            Calendar example
                                        </a>
                                    </li>
                                </ul>
                                <div id="normal-tabs-1">
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">Tab 1 example content.</h1>
                                </div>
                                <div id="normal-tabs-2">
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">Tab 2 example content.</h1>
                                </div>
                                <div id="normal-tabs-3">
                                    <h1 class="font-gray-dark text-center mrg25T mrg15B">Tab 3 example content.</h1>
                                </div>
                            </div>
                        </div>

                    </div><!-- #page-content -->
                </code>
            </pre>

        </div>

        {{> docs-buttons  }}
    </div>
</div>

</div>

</div>
